.check-main-container{
    min-height: 76vh;
    font-family: 'Times New Roman', Times, serif;
}
.chequebook-req-container{
    
    width: 50%;
    margin: 100px auto;
    display: grid;
    row-gap: 20px;
    min-height: 500px;
    box-shadow: 0px 0px 20px lightgray;
    padding: 20px ;
    font-family: 'Times New Roman', Times, serif;
}
.chequebook-header > h4{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color:  #7e93d8;
    font-weight: 700;
    box-shadow: 0px 0px 30px lightgray;
    font-family: 'Times New Roman', Times, serif;
}
.chequebook-details-container{
    display: grid;
    row-gap: 20px;
    width:90%;
    margin: 20px auto;
    font-family: 'Times New Roman', Times, serif;
    
}
.pick-account-container{
    display: grid;
    margin-left:50px ;
    font-family: 'Times New Roman', Times, serif;
}
.tt1{
    font-family: 'Times New Roman', Times, serif;
    background-color: #171718;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    padding: 20px;
    
}

.tt2{
    width: 50%;
    margin: 50px auto;
    height: 450px;
    border: 1px solid #171718;
    box-shadow: 0px 0px 30px gray;
     font-family: 'Times New Roman', Times, serif;
}
.pick-account-head{
    display: flex;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.1em;
    
    font-family: 'Times New Roman', Times, serif;
}
.pick-account-dropdown{
    display: flex;
    margin-left: 20px;
    width: clamp(90%,1.5vw,95%);
    font-family: 'Times New Roman', Times, serif;
}
.pick-account-dropdown > select{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.pick-account-head{
    margin-left: 20px;
    padding-bottom: 3px;
}
.pick-account-dropdown > textarea{
    resize: vertical;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.btnn-container{
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    font-family: 'Times New Roman', Times, serif;
   
   
}
.btnn-container > button{
   color: white;
    border-radius: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
   
}
.btncontainerlink{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.viewRequest-btn1{
    background-color: #8699da;
    border: none;
    font-size: 15px;
    color: white;
    letter-spacing: 0.1rem;
    padding: 5px;
    border-radius: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.chequebook-btn-container > button{
    border: none;
    background-color: #8699DA;
    color: white;
    border-radius: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.chequebook-btn-container > button:hover{
    opacity: 0.5;
}
.pick-account-dropdown{
    width: clamp(50%);
}
.viewRequest-btn > button:hover{
    opacity: 0.5;
}

.viewInfo1{
    margin: 20px auto;
    width: 86%;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.viewInfo1-body{
    width: 85%;
    margin: 0px auto;
    font-family: 'Times New Roman', Times, serif;
}
.viewInfo1-col{
    
        border: 0.5px solid #8699DA;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(248, 248, 248);
        font-family: 'Times New Roman', Times, serif;
   
}
.viewInfo1-btn{
    width: 10%;
    margin-top: 60px;
    margin-left: 128px;
    font-family: 'Times New Roman', Times, serif;
   
}
.viewRequest-btn > button{
    width: 100%;
    height: 100%;
    color: white;
    background: #8699DA;
    border-radius: 0.5rem;
    font-size: 17px;
    box-shadow: 4px 8px 12px rgb(78 99 141 / 6%), inset 0px 4px 12px rgb(200 211 249 / 60%);
    font-family: 'Times New Roman', Times, serif;
}
.viewInfo1-btn > button{
      width: 100%;
        height: 100%;
        color: white;
        background: #8699DA;
        border-radius: 0.5rem;
        font-size: 17px;
        box-shadow: 4px 8px 12px rgb(78 99 141 / 6%), inset 0px 4px 12px rgb(200 211 249 / 60%);
        font-family: 'Times New Roman', Times, serif;
    
}
@media screen and (max-width:940px) {
    .chequebook-req-container{
    
        width: 70%;
        margin: 100px;
        display: grid;
        row-gap: 20px;
        min-height: 500px;
        box-shadow: 0px 0px 20px lightgray;
        padding: 20px ;
       
    }
    .chequebook-details-container {
        display: grid;
        row-gap: 20px;
        width:100%;
    }

    
}
@media screen and (max-width:600px) {
   
    .chequebook-req-container {
        width: 100%;
        margin: 100px auto;
        display: grid;
        row-gap: 20px;
        min-height: 300px;
       box-shadow: none;
        padding: 20px;
    }
    .chequebook-details-container {
        display: grid;
        row-gap: 20px;
        width: 100%;
    }
    .pick-account-container {
        display: grid;
        margin-left: 50px;
        width: 80%;
    }
}