
.main-container{
    box-shadow: 15px 10px 10px lightgrey;
    height: 450px;
    width: 450px;
    margin: 200px auto;
background-color:rgb(250, 250, 250) ;
padding: 10px;
}
.container{
display: grid;

margin: 10px auto;

}
.sub-container11 .p1{
    font-size: 23px;
    font-weight: bolder;
    font-family: 'Overpass';
font-style: normal;
font-weight: 800;

letter-spacing: 0.1em;
}
.sub-container11 .p2{
    font-size: 14px;
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;


letter-spacing: 0.1em;
    
}
.sub-container2-username{
    display: flex;
    margin-left: 50px;
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;

line-height: 38px;
letter-spacing: 0.1em;
    
}
.sub-container2-password{
    display: flex;
    margin-left: 50px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    
    line-height: 38px;
    letter-spacing: 0.1em;
}

.container3{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 20px;
}
.input{
    height: 33px;
    width: 75%;
    border-radius: 0.7rem;
    border: 1px solid #8699DA;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    color: #C8D3F9;
    
}
.rememberMe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container{
    width: 45%;
    margin: 10px auto;
    height: 40px;
    
}
.btn-container button{
    border-radius: 1rem;
    
    background-color: #8699DA;
    border: none;
    color: white;
    font-size: 19px;

    box-shadow: 4px 8px 12px rgba(78, 99, 141, 0.06), inset 0px 4px 12px rgba(200, 211, 249, 0.6);
}

.input{
    font-size: 17px;
    text-align: left;
    color: #C8D3F9;
    padding-left:10px ;
    
}
.forget-password{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;

letter-spacing: 0.1em;
}
.rememberMe{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
}
.radio1{
    flex: none;
order: 0;
flex-grow: 0;
}
.eye-icon{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 27px;
    right: 70px;
    color: #C8D3F9;
}
@media only screen and (max-width:600px){
    .main-container{
        box-shadow: 15px 10px 10px lightgrey;
        height: unset;
        width: unset;
        margin: unset;
        min-width: 100vw;
        min-height: 100vh;
  
    }
}