.prof-main-container{
    min-height: 83vh;
}
.profile-container{
   /* box-shadow: 0px 0px 20px grey; */
    width: 80%;
    margin: 30px auto;
    height: 650px;
    min-height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-container2{
    margin: 30px auto;
    display: grid;
    grid-template-columns: 2.5fr 1fr ;
}

.Profile-head{
    margin: 20px auto;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.profile-form{
    display: grid;
    row-gap: 20px;
}
.profile-input > input{
    width: 70%;
    height: 40px;
    border: 1px solid #8699DA;
    border-radius: 0.5rem;
    font-size: 20px;
    padding: 20px;
    letter-spacing: 0.1em;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}
.profile-label{
    display: flex;
    margin-left: 80px;
    letter-spacing: 0.1em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: #000000;
    padding: 7px;
}
.profile-img-container{
    border: 1px solid rgb(182, 182, 182);
    width: 45%;
    height: 130px;
    border-radius:0.5rem ;
   
}
.profile-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #e4e4e4;
}
.profile-btn-container{
    width: 50%;
    margin: 30px auto;
    height: 40px;
    border-radius: 0.5rem;
}
.profile-btn-container > button{
    width:100% ;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #8699DA;
    color: white;
    letter-spacing: 0.1em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    border: none;
}
.profile-btn-container > button:hover{
   opacity: 0.8;
}
.account-info{
   margin: 120px auto;
   
   width: 80%;
   min-height: 400px;
}
.account-info-head{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.acount-info-container{
    display: grid;
    row-gap: 20px;
    height: 400px;
}
.account-container{
    display: grid;
    row-gap: 20px;
}
.account-head > input{
    width: 80%;
    margin: 0px auto;
    height: 70px;
    background-color: rgb(73, 73, 73);
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}
.account-number > input{
    width: 80%;
    margin: 0px auto;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 1px solid #8699DA;
}
#mobile_icon{
    font-size: 40px;
    position: absolute;
    left: 230px;
    top: 663px;
    color: #8699DA;
}



@media only screen and (max-width:600px) {
    .profile-container{
        display: block;
        width: 100%;
        margin: 0px auto;
        height: 650px;
        min-height: 450px;
    }
    .profile-image{
        display: none;
    }
    .account-info{
        display: none;
    }
    .divv1{
        display: grid;
        min-height: 200px;
       
    }
    .profile-container2{
        display: grid;
        grid-template-columns: 1fr;
    }
    .profile-input {
        width: 100%;
        height: 20px;
        
    

    }
    .hrdiv > hr{
        display: none;
    }
}